<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="rootuser" value="" />
    <add key="rootpassword" value="" />
    <add key="host" value="" />
    <add key="port" value="" />
    <add key="pipename" value="" />
    <add key="memory_name" value="" />
  </appSettings>
</configuration>