<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="rootuser" value="root"/>
    <add key="rootpassword" value="pass"/>
    <add key="host" value="127.0.0.1"/>
    <add key="port" value="3306"/>
    <add key="pipename" value="MYSQL"/>
    <add key="memory_name" value="MYSQL"/>
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnString" connectionString="server=localhost;User Id=root;password=pass;database=test;logging=true; port=3306;"/>
    <add name="MovieDBContext" connectionString="server=localhost;User Id=root;password=pass;database=test;logging=true; port=3306;" providerName="MySql.Data.MySqlClient" />
    <add name="MovieCodedBasedConfigDBContext" connectionString="server=localhost;User Id=root;password=pass;database=test;logging=true; port=3306;" providerName="MySql.Data.MySqlClient" />
    <add name="VehicleDbContext" connectionString="server=localhost;User Id=root;password=pass;database=test; port=3306;" providerName="MySql.Data.MySqlClient" />
    <add name="VehicleDbContext2" connectionString="server=localhost;User Id=root;password=pass;database=test; port=3306;" providerName="MySql.Data.MySqlClient" />
    <add name="VehicleDbContext3" connectionString="server=localhost;User Id=root;password=pass;database=test; port=3306;" providerName="MySql.Data.MySqlClient" />
    <add name="ProductsDbContext" connectionString="server=localhost;User Id=root;password=pass;database=test; port=3306;ConvertZeroDateTime=true;" providerName="MySql.Data.MySqlClient" />
    <add name="ShortDbContext" connectionString="server=localhost;User Id=root;password=pass;database=test; port=3306;" providerName="MySql.Data.MySqlClient" />
    <add name="DinosauriaDBContext" connectionString="server=localhost;User Id=root;password=pass;database=test; port=3306;" providerName="MySql.Data.MySqlClient" />
    <add name="ShipContext" connectionString="server=localhost;User Id=root;password=pass;database=test; port=3306" providerName="MySql.Data.MySqlClient" />
    <add name="SiteDbContext" connectionString="server=localhost;User Id=root;password=pass;database=test; port=3306" providerName="MySql.Data.MySqlClient" />
    <add name="PromotionsDB" connectionString="server=localhost;User Id=root;password=pass;database=test; port=3306" providerName="MySql.Data.MySqlClient" />
    <add name="EnumTestSupportContext" connectionString="server=localhost;User Id=root;password=pass;database=test; port=3306" providerName="MySql.Data.MySqlClient" />
    <add name="JourneyContext" connectionString="server=localhost;User Id=root;password=pass;database=test; port=3306" providerName="MySql.Data.MySqlClient" />
    <add name="EntityAndComplexTypeContext" connectionString="server=localhost;User Id=root;password=pass;database=test; port=3306" providerName="MySql.Data.MySqlClient" />
    <add name="AutoIncrementBugContext" connectionString="server=localhost;User Id=root;password=pass;database=test; port=3306" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <entityFramework codeConfigurationType="MySql.Data.Entity.MySqlEFConfiguration, MySql.Data.Entity.EF6">
    <defaultConnectionFactory type="MySql.Data.Entity.MySqlConnectionFactory, MySql.Data.Entity.EF6" />
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6" />
    </providers>
  </entityFramework>
</configuration>